body {
    background-color: #222629;
    font-family: 'Cairo', sans-serif;
    font-size: 175%;
    margin-top: 15%;
}
.container {
    text-align: center;
    color: #fff;
}
.container h1, .btn-wrapper {
    margin: 0.5em 0;
}
#btn-change {
    background-color: #86c232;
    color: #fff;
    width: 100px;
    border-radius: 15px;
    border: 2px solid #61892f;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
    text-transform: uppercase;
}
.display {
    color: #6b6e70;
}